[submodule "rust"]
	path = rust
	url = https://github.com/rust-lang/rust
[submodule "lib/rlibc"]
	path = lib/rlibc
	url = https://github.com/alexcrichton/rlibc
[submodule "lib/spin"]
	path = lib/spin
	url = https://github.com/mvdnes/spinlock-rs
[submodule "lib/bitflags"]
	path = lib/bitflags
	url = https://github.com/phil-opp/bitflags.git
	branch = no_std
